body {
    background-color: #F2E8E6;
}
h1 {
    color: #000000;
    font-family: "Cormorant Unicase", serif;
    font-weight: 500;
    font-style: normal;
      
}
P {
    color: #000000;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}
  
